html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: #3f5374;
}

.header {
    background-color: #002b80;
    position: relative;
    width: 100%;
    height: 100px;
    font-family: 'Lato', sans-serif;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 369px;
    height: 73px;
}

.logout {
    font-family: 'Lato', sans-serif;
    white-space: nowrap;
    color: #fff;
    position: absolute;
    transform: translateX(-100%);
    left: 100%;
    text-decoration: none;
    padding: 5px;
}

.navBar {
    height: 30px;
    width: 100%;
    background-color: #3f5374;
}

.navBar-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 100%;
}

.navItem a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.navItem:hover {
    background-color: #364763;
}

.container3 {
    background-color: #e6e6e6;
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
}

.container2 {
    background-color: #fff;
    float: left;
    width: 100%;
    position: relative;
    right: 15%;
}

.container1 {
    background-color: #e6e6e6;
    float: left;
    width: 100%;
    position: relative;
    right: 70%;
}

.leftContainer {
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 11%;
    min-height: 100%;
    position: relative;
    left: 87%;
    overflow: hidden;
}

.centerContainer {
    width: 66%;
    position: relative;
    left: 91%;
    background-color: #fff;
    overflow: hidden;
    margin: 25px;
}

.rightContainer {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 11%;
    min-height: 100%;
    position: relative;
    left: 95%;
    overflow: hidden;
}

.errorTray {
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    color: red;
}

.successTray {
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    color: #3f5374;
}

#logout {
    cursor: pointer;
    color: #DDDDDD;
}

#logout:hover {
    color: #364763;
}



/* STYLING OF BUTTONS */

button {
    min-width: 75px;
    max-width: 250px;
    height: 30px;
    border: 1px solid #3F5374;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #364763;
}


/*NOTES */

#notesSearchHeader {
    display: block;
    text-align: center;
    font-size: 18px;
}

#notesSearchHeader span {
    font-weight: bold;
}


/*NOTE ARTICLE APPEARANCE*/

article>header {
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

article>section: {
    margin-top: -10px;
}

article p {
    color: #545454;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

article span {
    font-weight: bold;
    color: #3F5374!important;
}

.title {
    font-weight: bold;
    font-size: 20px;
}
