.searchBtn {
    width: 150px;
    height: 30px;
    position: relative;
    border: none;
    background-color: #3f5374;
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-left: 15px;
}

.searchBtn:hover {
    background-color: #364763;
}

#searchContainer {
    text-align: center;
}

#inputOptions {
    margin: 7px;
}

#searchData {
    margin: 7px;
}

#searchButton {
    margin-top: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#searchButton {
    display: block;
}

#searchContainer table {
    border-collapse: separate;
    border-spacing: 5px;
}

#searchContainer td>select,
td>input {
    width: 100%;
}

.noHighlight {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}
