.centerContainer h1 {
    text-align: center;
}

.userData {
    position: relative;
    width: auto;
    max-width: 475px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    padding: 2%;
    border: solid 1px #bfbfbf;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: separate;
    border-spacing: 10px 0;
}

td {
    padding: 5px 0;
}

.fieldName {
    width: 200px;
}

button {
    width: 75px;
    height: 30px;
    border: none;
    background-color: #3f5374;
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #364763;
}

.modifyPasswordButton {
    width: 150px;
}

.dataConfirmation {
    margin-top: 30px;
}

.saveButton {
    margin: 15px;
    width: 150px;
    height: 30px;
    position: relative;
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
    border: none;
    background-color: #3f5374;
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.saveButton:hover {
    background-color: #364763;
}

#logoutEverywhere {
    margin-top: 10px;
    transform: translateX(50%);
    width: 50%;
}
