.centerContainer h1 {
    text-align: center;
}

.noteData {
    position: relative;
    width: auto;
    height: auto;
    max-width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    padding: 2%;
    border: solid 1px #bfbfbf;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 0;
}

td {
    padding: 5px 0;
}

.leftColumn {
    width: 1%;
    white-space: nowrap;
}

.fileSelect {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileSelect+label {
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    position: relative;
    border: none;
    background-color: #3f5374;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.fileSelect:focus+label,
.fileSelect+label:hover {
    background-color: #364763;
}

.fileSelect:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.buttonContainer {
    height: auto;
}

.submitButton {
    margin: 20px;
    width: 150px;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-95px);
    border: none;
    background-color: #3f5374;
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #364763;
}

.upload {
    width: 500px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
}

.bar {
    width: 100%;
    background: #e1e1e1;
    padding: 3px;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 3px rdba(0, 0, 0, .2);
    border-radius: 3px;
    box-sizing: border-box;
}

.bar-fill {
    height: 20px;
    display: block;
    background: #002b80;
    width: 0;
    border-radius: 3px;
    transition: width 0.8s ease;
}

.bar-fill-text {
    color: #fff;
    padding: 3px;
}

.uploads a,
.uploads span {
    display: block;
}

.description {
    min-width: 300px;
    width: 80%;
    min-height: 100px;
    resize: none;
    font-family: 'Lato', sans-serif;
}

#deleteNote {
    margin: 20px;
    margin-top: 0;
    width: 150px;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-95px);
    border: none;
    background-color: #3f5374;
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

#deleteNote:hover {
    background-color: #364763;
}
