.centerContainer h1 {
    text-align: center;
}

form {
    position: relative;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0px;
    padding: 2%;
    border: solid 1px #bfbfbf;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.courseSearch form {
    max-width: 40%
}

.searchParams {
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: separate;
    border-spacing: 5px 0;
}

.semester {
    width: 100%;
}

th {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

td {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
    padding: 5px 0;
}

.noHighlight {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

select {
    width: 100%;
}

.resultsTray {
    margin: 20px 0px;
    max-height: 250px;
}

.resultsTray h1 {
    margin: 5px;
}

.noResults {
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    color: red;
}

.tableContainer {
    max-height: 144;
    overflow-y: auto;
    border: solid;
}

.tableContainer table tr:nth-child(even) {
    background: #EEE;
}

.tableContainer table {
    cursor: pointer;
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 10px 0;
    text-align: center;
}

.tableContainer table th,
.tableContainer table td {
    border: 1px solid;
}

.tableContainer thead {
    font-size: 19px;
}

.grantAccess {
    margin: 20px 0;
}

.userData {
    max-width: 40%;
}

.userData table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: separate;
    border-spacing: 10px 0;
}

.coursesHeader {
    text-align: center;
}

.courseContainer {
    min-height: 50;
    max-height: 100;
    overflow-y: auto;
    border: solid;
}

.courseContainer p {
    border: 1px solid;
    margin: 5px;
    padding: 2px;
}

.submitButton {
    margin: 20px 0px 10px;
    width: 150px;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: #3f5374;
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #364763;
}

.removeButton {
    min-width: 20px !important;
    max-width: 20px !important;
    min-height: 20px !important;
    max-height: 20px !important;
    float: right;
    border: none;
    background-color: #3f5374;
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.removeButton:hover {
    background-color: #364763;
}
